<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title><%= title %></title>
</head>
<body>
    <form method="POST" action="/id">
        <label for="food_id" >Id of the searched food :</label>
        <input type="number" id="food_id" name="id" placeholder="food id">
        <input type="submit" name="button" value="Submit">
    </form>
    <div class="food_name">
        <p><%= db_food_id.name %></p>
    </div>
    <div class="table">
        <% nutdata.forEach(dict => { %>
                <div class="col">
                    <% const correspondingName = nutrient.find(nameItem => nameItem.id === dict.nutrient_id); %>
                    <p class="nutrientname"><%= correspondingName.name %></p>
                    <p><%= dict.value %></p>
                </div>
        <% }); %>
    </div>
</body>
</html>
