<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sytles.css">
    <script src="script.js"></script>
    <title><%= title %></title>
</head>
<body>
    <form method="POST" action="/id">
        <input type="text" id="searchInput" placeholder="Recherche...">
        <select id="suggestions" style="display: none;"></select>
        <input type="hidden" id="food_id" name="food_id">
        <input type="submit" name="button" value="Submit">
    </form>
    <div class="food_name">
        <p><%= db_food_id.name %></p>
    </div>
    <div class="table">
        <% nutdata.forEach(dict => { %>
                <div class="col">
                    <% const correspondingName = nutrient.find(nameItem => nameItem.id === dict.nutrient_id); %>
                    <p class="nutrientname"><%= correspondingName.name %></p>
                    <p><%= dict.value %></p>
                </div>
        <% }); %>
    </div>
</body>
</html>
