body {
    width: fit-content;
    margin: auto;
}
.food_name {
    width: 25em;
    text-align: center;
}

.table {
    display: flex;
    flex-direction: column;
    width: fit-content;
}

.col {
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.col p {
    margin: 0;
}

.nutrientname::after {
    content: '';
    flex: 1;
    margin: auto 1em;
    height: 5px;
    border-top: solid red 1px;
}

form {
    display: flex;
    justify-content: center;
}

.name_id {
    display: flex;
    justify-content: space-around;
}